html, body, .wrap, .container {
	position: relative;
	//height: 100%;
	box-sizing: border-box;
}
.container {
	max-width: 720px;
	margin: 0 auto;
}

.no-indent {
	margin: 0;
	padding: 0;
	list-style: none;
}

.centered-img-wrap {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.affix {
	top: 0;
	width: 100%;
}

.menu {
	position: fixed;
}

.centered-img-w {  max-width: 100%;  }
.centered-img-h {  max-height: 100%;  }
.centered-img {
	max-height: 100%;
	max-width: 100%;
}

.search-header {
	.logo {
		height: 150px;
		display: flex;
		justify-content: center;

		img {
			height: 100%;
		}
	}
	.search-input {
		@extend .no-indent;

		input {
			width: 100%;
			font-size: 3em;
			text-align: center;
			border: none;
			border-bottom: 1px solid lightgrey;
			outline: none;
		}

		.search-input-wraper {
			position: relative;
			width: 100%;
			height: 100%;

			.menu {
				position: absolute;
				top:0;
				right: 0;
				font-size: 3em;
				cursor: pointer;
			}

			.dropdown-menu {
				right: 0;
				left: auto;
				font-size: 1.3em;
			}
		}
	}

}

.floating-search {
	.search-input {
		position:fixed;
		top:0;
		z-index:2
	}
	.list-of-films {
		padding-top: 90px;
	}
}

#nav-icon3 {
	width: 60px;
	height: 45px;
	position: absolute;
	top: 15px;
	right: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 9px;
		width: 100%;
		background: #000;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 0px;
		}

		&:nth-child(3),
		&:nth-child(2) {
			top: 18px;
		}
		&:nth-child(4) {
			top: 36px;
		}
	}
}

#nav-icon3.open {
	span {
		position: fixed;
		&:nth-child(1) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
		&:nth-child(2) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}
}

.sorting-wrap {
	display: flex;
	padding: 5px 0;

	div {
		position: relative;
		padding-bottom: 10px;
		flex-grow: 1;
		text-align: center;
		font-size: 1.5em;
		font-weight: 700;
		cursor: pointer;
		transition: 0.3s;
		border-color: lightgrey;

		span {
			position: absolute;
			bottom: 0;
			width: 0;
			left: 0;
			transition: 0.3s;
			border-bottom: 1px solid lightgrey;
		}
	}
	div:hover span {
		width: 100%;
	}
}

.list-of-films {
	@extend .no-indent;

	padding: 10px 0;

	.film-item {
		height: 200px;
		display: flex;
		justify-content: baseline;
		margin-bottom: 10px;
		cursor: pointer;

		.film-img-wrap {
			@extend .centered-img-wrap;

			height: 100%;
			width: 50%;

			img {
				@extend .centered-img-w;

				transition: 0.3s;
			}
		}

		.film-text-wrap {
			display: inline-flex;
			//flex-wrap: wrap;
			flex-direction: column;
			width: 50%;
			height: 100%;
			padding: 5px 10px;

			.film-text-header {
				width: 100%;
				height: auto;
				font-size: 2em;
				font-weight: 700;
			}
			.film-text-body {
				font-weight: 700;
				font-size: 1.5em;
				width: 100%;

				span {
					float: right;
				}

				.ratings img {
					height: 30px;
				}
			}
		}
	}

	.film-item:hover {
		.film-img-wrap img {
			transform: scale(1.1);
		}
	}
}

@media (max-width: 576px) {
	.list-of-films .film-item {
		height: auto;
		flex-direction: column;
		.film-text-wrap, .film-img-wrap {
			width: 100%;
		}
	}
}