doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/index.css')
		script(src="js/vue.js")
		script(src="js/classes/Class.Ajax.js")
		script(src="js/index.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body
		block content
